{% extends "app/base.html" %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<section class="h-screen flex items-center justify-center bg-primary p-8">
    <div class="flex flex-col justify-center items-center bg-begg h-auto px-10 p-4 py-6 border-2 border-white rounded-lg">
        <h1 class="font-bold">Reset Password</h1>
        <p class="font-bold">Click the link below to reset your password:</p>
        <a href="{{ reset_url }}" class="text-blue-500 font-semibold mt-4 underline">Reset Your Password</a>
    </div>
</section>
{% endblock content %}