{% extends "app/base.html" %}
{% load static %}
{% block title %}Login Page{% endblock title %}

{% block content %}
<section class="h-screen flex items-center justify-center mt-auto bg-primary p-8">
    <div class="flex flex-col justify-center items-center bg-begg h-auto px-10 p-4 py-6 border-2 border-white rounded-lg">
        <h1 class="py-4 font-extrabold text-primary text-lg">Reset Password</h1>
          
        {% if validlink %}
        <form action="" method="post" class=" border border-slate-400 p-5 rounded-md" >
            {% csrf_token %}
            
            {{form.as_p}}
            <button class="text-white font-semibold rounded-md  p-2 px-6 mt-2  bg-secondary hover:translate-y-0.5 hover:border-0"type="submit">Reset</button>
            <hr>
            {% if form.errors %}
            <div class="text-red-500 font-semibold">
                <p>There were errors in your submission:</p>
                <ul class=" break-words" >
                    {% for field, errors in form.errors.items %}
                        <li  >{{ field }}: <br> {{ errors|join:", " }}</li>
                        <br>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
        {% else %}
            <p>the validation link is not valid</p>

        {% endif %}        
     
        
    </div>
</section>


{% endblock content %}



































{% if validlink %}
<form action="" method="post">

  {% csrf_token  %}

  {{form.as_p}}
  <button type="submit">Send</button>
</form>
{% else %}
<p>the validation link is not valid</p>

{% endif %}