{% extends "app/home.html" %}
{% load static %}
{% block title %}CreatePost{% endblock title %}
{% block herocontent %}
<form action="" method="post" class="border border-slate-400 p-5 rounded-md" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-6">
        <label for="{{ form.title.id_for_label }}" class="block text-lg font-semibold text-gray-700">Title</label>
        {{ form.title }}
    </div>

    <div class="mb-6">
        <label for="{{ form.description.id_for_label }}" class="block text-lg font-semibold text-gray-700">Description</label>
        {{ form.description }}
    </div>

    <div class="mb-6">
        <label for="{{ form.image.id_for_label }}" class="block text-lg font-semibold text-gray-700">Image</label>
        {{ form.image }}
    </div>

    <button class="w-full bg-secondary text-white font-semibold py-3 rounded-md shadow-md hover:bg-secondary-dark transition-all duration-300 transform hover:translate-y-1" type="submit">Post</button>

    {% if imgform.errors or profileform.errors %}
    <div class="text-red-500 font-semibold">
        <p>There were errors in your submission:</p>
        <ul class="max-w-[6rem] break-words" >
            {% for field, errors in form.errors.items %}
                <li  class=" max-w-xs " >{{ field }}: <br> {{ errors|join:", " }}</li>
                <br>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% endblock herocontent %}